
.header {
    background-color: rgb(3, 159, 8);
}  

.header__container{
 max-width: 1100px;
 margin: 0 auto;
 padding-block: 30px;
  
 display: flex;
 justify-content: space-between;
 align-items: center;
} 

.header__title{
color :white;
font-size: 42px;
 } 

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:20px;
} 

.navbar__link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 24px;

} 


.header__logo {
    width: 40px; /* Set the desired width of the icon */
    height: 40px; /* Set the desired height of the icon */
    border-radius: 50%; /* Make the icon circular */
  }
